.AccountItem {
    display: flex;
    align-items: center;
    margin-top: 8px;
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding-right: 8px;
        object-fit: cover;
    }

    h5 {
        line-height: 2rem;
        font-size: 1.6rem;
    }

    p {
        font-size: 1.4rem;
    }

    .Account-info-icon {
        color: rgb(32, 213, 236);
        font-size: 1.6rem;
        margin-left: 8px;
    }
    &:hover {
        cursor: pointer;
        background-color: #c9c9c9;
    }
}
.Account-info {
    flex: 1;
}
